<template>
  <el-container class="container">
    <!-- 公共的头部 -->
    <el-header class="pub-header">
      <el-row>
        <el-col :span="22"
          ><span class="logo">LOGO</span
          ><span class="logo-right">|</span></el-col
        >
        <el-col :span="2" class="pub-login">
          <span class="el-icon-bell login-icon"></span>
          <span>登录用户</span>
          <span class="logim-bread iconfont icon-zhedie"></span>
        </el-col>
      </el-row>
    </el-header>
    <!-- 主体内容 -->
    <el-container>
      <!-- 侧边栏 -->
      <el-aside width="150px" class="pub-aside">
        <el-menu
          default-active="1"
          class="el-menu-vertical-demo"
          @open="handleOpen"
          @close="handleClose"
        >
          <!-- <el-submenu index="1">
            <template slot="title">
              <i class="el-icon-location"></i>
              <span>首页</span>
            </template>
            <el-menu-item-group>
              <template slot="title">分组一</template>
              <el-menu-item index="1-1">选项1</el-menu-item>
              <el-menu-item index="1-2">选项2</el-menu-item>
            </el-menu-item-group>
            <el-menu-item-group title="分组2">
              <el-menu-item index="1-3">选项3</el-menu-item>
            </el-menu-item-group>
            <el-submenu index="1-4">
              <template slot="title">选项4</template>
              <el-menu-item index="1-4-1">选项1</el-menu-item>
            </el-submenu>
          </el-submenu> -->
          <el-menu-item index="1">
            <i class="iconfont icon-zhuye pub-font-icon home-aside"></i>
            <span slot="title">首页</span>
          </el-menu-item>
          <el-menu-item index="2">
            <i class="el-icon-menu"></i>
            <span slot="title">招聘计划</span>
          </el-menu-item>
          <el-menu-item index="3">
            <i class="el-icon-document"></i>
            <span slot="title">招聘渠道</span>
          </el-menu-item>
          <el-menu-item index="4">
            <i class="el-icon-setting"></i>
            <span slot="title">招聘计划</span>
          </el-menu-item>
          <el-menu-item index="4">
            <i class="el-icon-setting"></i>
            <span slot="title">筛选简历</span>
          </el-menu-item>
          <el-menu-item index="4">
            <i class="el-icon-setting"></i>
            <span slot="title">面试进度</span>
          </el-menu-item>
          <el-menu-item index="4">
            <i class="el-icon-setting"></i>
            <span slot="title">人才库</span>
          </el-menu-item>
        </el-menu>
      </el-aside>
      <!-- 右侧展示部分 -->
      <el-main>Main</el-main>
    </el-container>
  </el-container>
</template>

<script>
export default {
  name: 'home',
  data() {
    return {};
  },
  components: {},
  methods: {
    handleOpen(key, keyPath) {
        console.log(key, keyPath);
      },
      handleClose(key, keyPath) {
        console.log(key, keyPath);
      }
  }
};
</script>

<style scoped>
.container {
  height: 100%;
}
.container .pub-header {
  height: 55px;
  width: 100%;
  background-color: #666666;
}
.pub-header .logo {
  width: 93px;
  height: 55px;
  display: inline-block;
  text-align: center;
  line-height: 55px;
  color: #fff;
}
.pub-header .logo-right {
  color: #888;
}
.pub-header .pub-login {
  height: 55px;
  line-height: 55px;
  color: #fff;
  text-align: center;
}
.pub-login .login-icon {
  margin-right: 15px;
}
.pub-login .logim-bread {
  margin-left: 5px;
}
.pub-aside .home-aside {
    margin-right: 5px;
    width: 24px;
    text-align: center;
    font-size: 18px;
    vertical-align: middle;
}
</style>
